.btn {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background-image: none;
  border-bottom-color: transparent;
  border-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.navbar-inner {
  background-image: none;
}

.progress .bar,
.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn.active,
.btn:active,
.dropdown-menu,
.popover,
.modal,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.well {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}